<section class="promo">
  <div class="promo__lookbook">
    <p class="promo__title">Лукбук, лето 2019</p>
    <p class="promo__description">Стильные образы для тёплых деньков</p>
    <div class="promo__img-wrapper">
      <img class="lazyload" data-src="assets/img/lookbook.png" alt="Sneakers">
    </div>
  </div>
  <div class="promo__redaction-choice">
    <p class="promo__title">Выбор редакции: часы</p>
    <p class="promo__description">ТОП-5 лучших предложений по версии администрации Фетч</p>
  </div>
  <div class="promo__new-collection">
    <p class="promo__title">Новая коллекция adidas Originals</p>
    <p class="promo__description">Десять крутейших кроссовок</p>
    <div class="promo__img-wrapper">
      <img class="lazyload" data-src="assets/img/sneakers.png" alt="Sneakers">
    </div>
  </div>
  <div class="promo__preorder">
    <p class="promo__title">Предзаказ: Maison Margiela Fusion</p>
    <p class="promo__description">От 92 000 ₽</p>
    <div class="promo__imgs">
        <img class="promo__img-1 lazyload" data-src="assets/img/image-1.jpg" alt="Sneakers">
        <img class="promo__img-2 lazyload" data-src="assets/img/image-2.png" alt="Sneakers">
        <img class="promo__img-3 lazyload" data-src="assets/img/image-3.jpg" alt="Sneakers">
    </div>
  </div>
</section>