.pagination{
  padding: 0 152px;
  margin-bottom: 64px;
  color: #444;
  &__title{
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
  }
  &__pages{
    display: flex;
    align-items: baseline;
    a{
      text-decoration-line: none;
      &:hover{
        color:inherit;
        text-decoration-line: none;
      }
    }
    li + li{
      margin-left: 5px;
    }
    .mod-active{
      color: #000;
      font-weight: bold;
      font-size: 24px;
      line-height: 31px;
    }
  }
}

@media screen and (max-width: 1199px){
  .pagination{
    padding: 0 16px;
    margin-bottom: 40px;
  }
}