<div class="checkout-success">
    <p class="checkout-success__title">Заказ №213 оформлен</p>
    <p class="checkout-success__parag">Скоро вам позвонит менеджер, чтобы подтвердить заказ.</p>
    <p class="checkout-success__parag"><a href="index.html">Вернуться на главную</a> или <a href="catalog.html">продолжить покупки в каталоге</a></p>
</div>