<footer class="footer-mini">
  <ul>
    <li><p>© Фетч-команда, 2019</p></li>
    <li><a class="footer-mini__phone" href="tel:8(800)912-11-42">
        <p>8 800 912-11-42, звонок бесплатный</p>
      </a></li>
    <li><a href="mailto:shop@fetch.ru"><p>shop@fetch.ru</p></a></li>
    <li><a class="js-link-popup" href="#rules"><p>Правила обработки персональных данных</p></a></li>
  </ul>
</footer>