<footer class="footer">
  <div class="footer-top">
    <div class="footer-top__info">
      <p class="footer-top__logo mod-title">Фетч</p>
      <ul>
        <li><a href="index.html">Магазин</a></li>
        <li><a href="index.html">Блог</a></li>
        <li><a href="index.html">Доставка и оплата</a></li>
        <li class="mod-email"><a href="mailto:shop@fetch.ru">shop@fetch.ru</a></li>
        <li>
          <a class="mod-phone" href="tel:8(800)912-11-42">
            <p>8 800 912-11-42</p>
            <p class="mod-phone-description">Звонок бесплатный</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-top__category">
      <p class="mod-title"><a href="index.html">Для мужчин</a></p>
      <ul>
        <li><a href="index.html">Верхняя одежда</a></li>
        <li><a href="index.html">Рубашки и поло</a></li>
        <li><a href="index.html">Трикотаж</a></li>
        <li><a href="index.html">Блюки и джинсы</a></li>
        <li><a href="index.html">Бельё и носки</a></li>
      </ul>
    </div>
    <div class="footer-top__category">
      <p class="mod-title"><a href="index.html">Для женщин</a></p>
      <ul>
        <li><a href="index.html">Верхняя одежда</a></li>
        <li><a href="index.html">Рубашки и поло</a></li>
        <li><a href="index.html">Трикотаж</a></li>
        <li><a href="index.html">Платья и юбки</a></li>
        <li><a href="index.html">Бельё и носки</a></li>
      </ul>
    </div>
    <div class="footer-top__category">
      <p class="mod-title"><a href="index.html">Обувь</a></p>
      <ul>
        <li><a href="index.html">Кроссовки и кеды</a></li>
        <li><a href="index.html">Ботинки</a></li>
      </ul>
    </div>
    <div class="footer-top__category">
      <p class="mod-title"><a href="index.html">Аксессуары</a></p>
      <ul>
        <li><a href="index.html">Сумки и рюкзаки</a></li>
        <li><a href="index.html">Часы</a></li>
        <li><a href="index.html">Бижутерия</a></li>
        <li><a href="index.html">Средства для ухода</a></li>
      </ul>
    </div>
    <div class="footer-top__category">
      <p class="mod-title"><a href="index.html">Скидки</a></p>
      <ul>
        <li><a href="index.html">Летняя распродажа</a></li>
        <li><a href="index.html">Коллекция 2018</a></li>
      </ul>
    </div>
  </div>

<div class="footer-bottom">
  <p>© Фетч-команда, 2019</p>
  <a class="js-link-popup" href="#rules"><p>Правила обработки персональных данных</p></a>
  <a href="index.html"><p>Разработка и поддержка сайта</p></a>
</div>

</footer>