{% include 'parts/meta-head.twig' %}

<div class="wrapper">
  {% include '../blocks/header/header.twig' %}
    <main class="main">

      {% include '../blocks/catalog/catalog.twig' %}
      {% include '../blocks/pagination/pagination.twig' %}

    </main>
  {% include '../blocks/footer/footer.twig' %}
</div>

{% include 'parts/meta-foot.twig' %}