{% include 'parts/meta-head.twig' %}

<div class="wrapper">
  {% include '../blocks/header-mini/header-mini.twig' %}
    <main class="main">

      {% include '../blocks/checkout/checkout.twig' %}

    </main>
  {% include '../blocks/footer-mini/footer-mini.twig' %}
</div>

{% include 'parts/meta-foot.twig' %}