{% include 'parts/meta-head.twig' %}

<div class="wrapper">
  {% include '../blocks/header/header.twig' %}
    <main class="main">

      {% include '../blocks/slider-main/slider-main.twig' %}

      {% include '../blocks/links/links.twig' %}

      {% include '../blocks/promo/promo.twig' %}

    </main>
  {% include '../blocks/footer/footer.twig' %}
</div>

{% include 'parts/meta-foot.twig' %}