{% include 'parts/meta-head.twig' %}

<div class="wrapper">
  {% include '../blocks/header/header.twig' %}
    <main class="main">

      {% include '../blocks/item/item.twig' %}
      {% include '../blocks/recomendations/recomendations.twig' %}

    </main>
  {% include '../blocks/footer/footer.twig' %}
</div>

{% include 'parts/meta-foot.twig' %}