{% set items = [
  {
    "id": 1,
    "title": "Maison Margiela Fusion Low Sneakers",
    "cat": "Кроссовки",
    "price": "92 000",
    "img": "item-1.jpg"
  },
  {
    "id": 2,
    "title": "Maison Margiela Fusion Low Sneakers",
    "cat": "Кроссовки",
    "price": "92 000",
    "img": "item-2.jpg"
  },
  {
    "id": 3,
    "title": "Maison Margiela Fusion Low Sneakers",
    "cat": "Кроссовки",
    "price": "92 000",
    "img": "item-3.jpg"
  },
  {
    "id": 4,
    "title": "Maison Margiela Fusion Low Sneakers",
    "cat": "Кроссовки",
    "price": "92 000",
    "img": "item-4.jpg"
  },
  {
    "id": 5,
    "title": "Maison Margiela Fusion Low Sneakers",
    "cat": "Кроссовки",
    "price": "92 000",
    "img": "item-5.jpg"
  },
] %}

<section class="recomend">
    <p class="recomend__title">Вам может быть интересно</p>
    <div class="recomend-slider js-slider-recomend">
        {% for item in items %}
        <div class="recomend-slider__element">
            {% include '../item-card/item-card.twig' with item %}
        </div>
        {% endfor %}
    </div>
</section>