<div class="slider js-slider-main">
  <div class="slider__element" data-header="white">
    <p class="slider__title">Reebok Aztrek <br>Double</p>
    <img src="assets/img/slider-1.jpg" alt="Слайдер">
  </div>
  <div class="slider__element mod-white" data-header="black">
    <p class="slider__title">Reebok Aztrek <br>Double</p>
    <img src="assets/img/slider-1.jpg" alt="Слайдер">
  </div>
  <div class="slider__element" data-header="white">
    <p class="slider__title">Reebok Aztrek <br>Double</p>
    <img src="assets/img/slider-1.jpg" alt="Слайдер">
  </div>
</div>