<div class="item-info" itemscope itemtype="http://schema.org/Product">
  <h1 itemprop="name" class="item-info__title">Maison Margiela Fusion Low Sneakers</h1>
  <p class="item-info__cat">Кроссовки</p>

  <form class="item-info-form js-add">
      <label for="color">
        <p>Цвет</p>
        <input class="item-info-form__radio" type="radio" name="color" data-value="Белый с розовым" value="white-pink" checked>
        <input class="item-info-form__radio" type="radio" name="color" data-value="Белый с зелёным" value="white-green">
      </label>
      <label for="size">
        <p>Размер US</p>
        <input class="item-info-form__radio mod-small" type="radio" name="size" data-value="6" value="6">
        <input class="item-info-form__radio mod-small" type="radio" name="size" data-value="6,5" value="6,5" checked>
        <input class="item-info-form__radio mod-small" type="radio" name="size" data-value="7" value="7">
        <input class="item-info-form__radio mod-small" type="radio" name="size" data-value="9" value="9">
      </label>
      <a class="js-link-popup" href="#sizes">Таблица размеров</a>
      <button class="item-info-form__button" type="submit">Купить, 92 000 &#x20bd;</button>
  </form>

  <div class="item-info-desc">
    <div class="item-info-desc__property">
      <p class="item-info-desc__name">Материал</p>
      <p itemprop="material" class="item-info-desc__value">Кожа, текстиль</p>
    </div>
    <div class="item-info-desc__property">
      <p class="item-info-desc__name">Страна-производитель</p>
      <p class="item-info-desc__value">Италия</p>
    </div>
    <div itemprop="description" class="item-info-desc__property">
      <p class="item-info-desc__name">Описание</p>
      <p class="item-info-desc__value">Деконструктивный и авангардный дизайн с уникальными концепциями и нетрадиционным мастерством.</p>
      <p class="item-info-desc__value">В качестве материала используются два вида кожи. Верх дополнен деталями из сетчатого материала и текстиля.</p>
      <p class="item-info-desc__value">Грубые и многослойные кроссовки показывают отличие от традиционного аккуратного стиля создания обуви. Они оснащены раскрашенной вручную резиновой подошвой с брызгами и потеками.</p>
      <p class="item-info-desc__value">Оригинальная слегка асимметричная система шнуровки и фирменный стежок на заднике завершают уникальный внешний вид.</p>
    </div>
    <div class="item-info-desc__property">
      <p class="item-info-desc__name">Детали</p>
      <ul>
        <li class="item-info-desc__list">Два вида кожи</li>
        <li class="item-info-desc__list">Детали из текстиля</li>
        <li class="item-info-desc__list">Неординарная шнуровка</li>
        <li class="item-info-desc__list">Перфорация на мыске</li>
        <li class="item-info-desc__list">Стежок на заднике</li>
        <li class="item-info-desc__list">Фигурная резиновая подошва</li>
        <li class="item-info-desc__list">Цепкая подметка</li>
        <li class="item-info-desc__list">Окрашивание с брызгами и потеками</li>
        <li class="item-info-desc__list">Пестрая расцветка</li>
      </ul>
    </div>
  </div>
</div>