.checkout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 112px;
    padding: 0 312px 0 152px;
    &-items{
        display: flex;
        flex-direction: column;
        min-width: 100%;
        padding-bottom: 23px;
        margin-bottom: 16px;

        .checkout-item-card + .checkout-item-card{
            margin-top: 24px;
        }
        &__price{
            text-align: end;
            font-weight: bold;
            font-size: 24px;
            line-height: 31px;
            padding-top: 16px;
            margin-top: 23px;
            border-top: 1px solid #DDDDDD;
            &:after{
                content: " \20bd";
              }
        }
        &__delivery{
            text-align: end;
            font-weight: normal;
            font-size: 13px;
            line-height: 17px;
            color: #666;
        }
    }
    &-form{
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        label{
            position: relative;
            display: flex;
            justify-content: space-between;
            margin: 0 32px 45px 0;
        }
        &__input{
            width: 265px;
            height: 42px;
            border: 1px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 10px 12px;
            background: #F8F8F8;
            margin-left: 40px;
        }
        &__details{
            position: absolute;
            font-size: 13px;
            line-height: 17px;
            width: 265px;
            color: #666;
            right: 0;
            bottom: -17px;
        }
        &__textarea{
            width: 265px;
            height: 84px;
            border: 1px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 10px 12px;
            background: #F8F8F8;
            margin-left: 40px;
            resize: none;
            margin-bottom: 11px;
        }
        &-submit{
            display: flex;
            position: relative;
            &::before{
                display: block;
                position: absolute;
                top: -28px;
                left: -24px;
                content: "";
                width: calc(100% + 88px);
                height: calc(100% + 48px);
                background: #F2F2F2;
                z-index: -1;
              }
            &__delivery{
                font-size: 13px;
                line-height: 17px;
                margin-right: 40px;
            }
            &__button{
                min-width: 230px;
                height: 42px;
                background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
                box-shadow: 0px 0px 15px rgba(255, 146, 17, 0.5);
                border-radius: 4px;
                text-align: center;
                font-weight: bold;
                font-size: 16px;
                line-height: 21px;
                cursor: pointer;
                &:hover{
                    background: linear-gradient(180deg, #F5BF00 0%, #F0AD00 100%);
                  }
            }
        }
        
    }
}

@media screen and (max-width: 1199px){
    .checkout{
        grid-template-columns: 1fr;
        padding: 0 16px;
        &-items{
        margin-bottom: 25px;
            .checkout-item-card + .checkout-item-card{
                margin-top: 16px;
            }
            &__price{
                text-align: left;
                margin: 16px -16px 0;
                
                padding-left: 16px;
                padding-right: 16px;
            }
            &__delivery{
                text-align: left;
            }
        }
        &-form{
            label{
                flex-direction: column;
            }
            &__input{
                margin: 4px 24px 0 0;

            }
            &__details{
                left: 12px;
            }
            &__textarea{
                margin: 4px 24px 0 0;
            }
            &-submit{
                flex-direction: column;
                &::before{
                    top: -16px;
                    left: -16px;
                    width: calc(100% + 32px);
                    height: calc(100% + 40px);
                }
                &__delivery{
                    margin-bottom: 16px;
                }
                &__button{
                    width: 230px;
                }
            }
        }
    }
}