<header class="header js-header ">
  <div class="header__logo">
    <a href="index.html"><h1>Фетч</h1></a>
  </div>
  <nav class="header__menu">
    <ul>
      <li><a href="index.html">Одежда</a></li>
      <li><a href="index.html">Обувь</a></li>
      <li><a href="index.html">Аксессуары</a></li>
      <li><a href="index.html">Блог</a></li>
      <li><a href="index.html">Магазин</a></li>
      <li><a href="index.html">Доставка и оплата</a></li>
    </ul>
  </nav>
  <div class="header__cart">
    <a href="checkout.html">
    <div class="header__item-counter">
      <p>4</p>
    </div>
    <span class="header__cart-icon mod-fontello ">&#xe800;</span><span class="header__cart-text">Оформить заказ</span>
    </a>
  </div>
</header>